<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#2A2E37">
  <link rel="icon" type="image/png" href="static/img/link.png"/>
  <title>Link Tester</title>
  <link rel="stylesheet" href="static/css/animate.min.css">
  <link rel="stylesheet" href="static/css/styles.css">
  <link rel="stylesheet" href="static/js/noty/noty.css">
</head>
</br></br></br></br></br>
  <h1> Enter a URL to scrape & validate links:</h1>
<body>
  <script type="text/javascript" src="static/js/noty/noty.min.js"></script>
  <a href="https://github.com/circa10a/web-link-tester"><img style="position: absolute; top: 0; right: 0; border: 0;" src="static/img/forkMe.png" alt="Fork me on GitHub"></a>
  <div class="search">
  <form enctype='application/json' id="formsearch" onsubmit="return validateURL()" name="url" action="." method="post">
  <input id="textbox" type="url" class="search-box" name="search" autofocus type="submit"/>
  </form>
  <span class="search-button">
  <span onclick="return submit()" class="search-icon"></span>
  </span>
  </div>
 <div class="overlay"></div>
 <div class="loader"></div>
 </br></br></br></br></br>

 {% if data %}
 <table class="container">
	<thead>
		<tr>
      {% for key in keys %}
			<th><h1>{{ key }}</h1></th>
      {% endfor %}
		</tr>
	</thead>
	<tbody>
    {% for dict_item in data %}
		<tr>
      {% for url in dict_item.values() %}
      <td>
      <a href="{{url}}">{{url}}</a>
      </td>
      {% endfor %}
		</tr>
    {% endfor %}
	</tbody>
</table>
{% endif %}

{% if invalid_data %}
<script>
new Noty({text: 'Can\'t Connect!',
 type: 'error',
 layout: 'topCenter',
 theme: 'mint',
 closeWith   : ['click'],
 progressBar : true,
 timeout     : 10000,
 animation   : {
  open  : 'animated bounceInDown',
  close : 'animated bounceOutUp',
  easing: 'swing',
}
}).show();
</script>
{% endif %}

</body>
<script src='static/js/jquery/jquery.min.js'></script>
<script src="static/js/searchExpand.js"></script>
<script src="static/js/validateUrl.js"></script>
<script src="static/js/loader.js"></script>
<script src="static/js/submit.js"></script>
</html>
