<!DOCTYPE html>
<html>
<head>
  <meta name="theme-color" content="#2A2E37">
  <title>Link Tester</title>
  <link rel="stylesheet" href="../static/css/styles.css">
</head>
</br></br></br></br></br>
  <h1> Enter a URL to scrape & validate links:</h1>
<body>
  <a href="https://github.com/circa10a/web-link-tester"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/652c5b9acfaddf3a9c326fa6bde407b87f7be0f4/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6f72616e67655f6666373630302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_orange_ff7600.png"></a>
  <div class="search">
  <form id="formsearch" onsubmit="loader()" name="formsearch" action="." method="post">
  <input id="textbox" type="url" class="search-box" name="search" autofocus type="submit"/>
  </form>
  <span class="search-button">
    <span onclick="submit()" class="search-icon"></span>
  </span>
  </div>
 <div class="overlay"></div>
 <div class="loader"></div>
 </br></br></br></br></br>

 {% if data %}
 <table class="container">
	<thead>
		<tr>
      {% for key in keys %}
			<th><h1>{{ key }}</h1></th>
      {% endfor %}
		</tr>
	</thead>
	<tbody>
    {% for dict_item in data %}
		<tr>
      {% for url in dict_item.values() %}
      <td>
      <a href="{{url}}">{{url}}</a>
      </td>
      {% endfor %}
		</tr>
    {% endfor %}
	</tbody>
</table>
{% endif %}

{% if invalid_data %}
<script>
  alert('Can\'t Connect!');
</script>
{% endif %}

</body>
<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
<script src="../static/js/submit.js"></script>
<script src="../static/js/index.js"></script>
</html>
